.chatappprojectpagecontainer {
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-height: 30rem !important;
  overflow: hidden;
  min-height: 95vh;
  margin-top: 3rem;
  background-size: cover;
  background-image: linear-gradient(
      180deg,
      rgba(221, 247, 251, 0) 0%,
      rgba(0, 0, 0, 0.18) 60%,
      rgba(0, 0, 0, 0.4) 90%
    ),
    url('../../img/screencapture.gif');
}

.chatappprojectpage-innercontainer {
  background: rgba(255, 255, 255, 0.81);
  backdrop-filter: blur(0.1rem);
  color: rgb(8, 8, 8);
  width: 40%;
  min-width: 30rem;
  min-height: 95vh;
  max-height: 95vh;
  overflow: auto;
}

.chatappprojectpagetitle {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  // color: rgb(17, 134, 243);
  color: #222;
  line-height: 4.3rem;

  transition: color 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    letter-spacing 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &:hover {
    color: rgb(192, 26, 26);
    letter-spacing: 0.6rem;
  }
  &:active {
    color: rgb(183, 200, 207);
  }
}

.chatappprojectpageline {
  width: 38vw;
  margin-left: 50%;
  margin-top: 0.3rem;
  transform: translateX(-50%);
}

.chatappprojectpagedescription {
  font-size: 1.8rem;
  min-width: 30rem;
  text-align: left;
  transform: translateX(-50%);
  margin-left: 50%;
  //   display: flex;
}

.chatappprojectpagefeatures,
.chatappprojectpagetechnologies {
  margin-top: 3rem;
  line-height: 3rem;
}

.chatappprojectpagefeatures {
  margin-top: 3rem;
}

.chatappprojectpagefeaturelist,
.chatappprojectpagetechnologylist {
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  line-height: 2.4rem;
}

.chatappprojectpagefeaturelist {
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  padding: 0 1rem;
}

.chatappprojectpagetechnologylist {
  margin: 0rem 0rem;
  padding: 0 1rem;
  text-align: start;
}

// .chatappprojectpagecontainer {
//   text-align: center;
//   margin-left: 50%;
//   transform: translateX(-50%);
//   width: 100%;
//   margin-top: 8rem;
// }

// .chatappprojectpagetitle {
//   font-size: 3.6rem;
//   letter-spacing: 0.8rem;
//   transform: translateX(-50%);
//   margin-left: 50%;
//   width: 60vw;
//   transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
//     letter-spacing 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
//   &:hover {
//     color: rgb(55, 181, 231);
//     letter-spacing: 0.9rem;
//   }
//   &:active {
//     color: rgb(183, 200, 207);
//   }
// }

// .chatappprojectpageline {
//   width: 80vw;
//   margin-left: 50%;
//   transform: translateX(-50%);
// }

// .chatappprojectpageimganddesc {
//   transform: translateX(-50%);
//   margin-left: 50%;
//   display: flex;
// }

// .chatappprojectpagelink {
//   height: 25rem;
// }

// .chatappprojectimage {
//   max-width: 24rem;
//   min-width: 24rem;
//   //   height: 32rem;
//   margin: 1.4rem;
//   padding: 0.3rem;
//   background: rgb(248, 248, 248);
//   text-align: center;
//   transition: transform 0.4s, box-shadow 8s;

//   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
//   -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
//   transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

//   &::after {
//     content: '';
//     border-radius: 5px;
//     position: absolute;
//     z-index: -1;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
//     opacity: 0;
//     -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
//     transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
//   }

//   &:hover {
//     cursor: pointer;
//     -webkit-transform: scale(1.15, 1.15);
//     transform: scale(1.15, 1.15);
//   }

//   &:hover::after {
//     opacity: 1;
//   }
// }

// .chatappprojectpage-description {
//   font-size: 1.8rem;
//   min-width: 40vw;
//   text-align: left;
//   transform: translateX(-50%);
//   margin-left: 50%;
// }

// .chatappprojectpage-description2-container {
//   display: flex;
//   margin-left: 50%;
//   transform: translateX(-50%);
// }

// .chatappprojectpage-description2 {
//   margin-top: 4rem;
//   width: 100%;
//   text-align: left;
// }

// .chatappprojectpagefeatures,
// .chatappprojectpagetechnologies {
//   margin: 0.5rem 2rem;
// }

// .chatappprojectpagefeaturelist,
// .chatappprojectpagetechnologylist {
//   font-size: 1.5rem;
//   text-decoration: none;
//   list-style: none;
//   margin: 0.5rem 0.8rem;
// }
