$break-xxxs: 480px;

.socialmediacard,
.chatappcard {
  width: 23rem;
  height: 18.5rem;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;

  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (max-width: $break-xxxs) {
    width: 17rem;
    height: 14rem;
  }
}

.socialmediacard {
  background-image: url('../../img/mernstacksocialmedia.png');
}

.chatappcard {
  background-image: url('../../img/chatapp.png');
}

.socialmediacard:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
