$break-large: 1400px;
$break-medium: 1200px;
$break-small: 1041px;

.projectcard {
  width: 29vw;
  height: 26vw;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  background-image: url('../../img/projectsbw.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  border: 0.4rem solid rgba(255, 255, 255, 0.2);

  min-width: 20rem;
  min-height: 19rem;
}

.projectcard:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
