$break-large: 1085px;
$break-medium: 620px;
.contact-outercontainer {
  @media screen and (max-width: $break-medium) {
    display: none;
  }
}

.contactsmall-container {
  display: none;

  @media screen and (max-width: $break-medium) {
    display: inherit;
  }
}

.contactsmall-imagecontainer {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(221, 247, 251, 0) 0%,
      rgba(0, 0, 0, 0.18) 50%,
      rgba(0, 0, 0, 0.4) 80%
    ),
    url('../../img/contactphone.jpg');
  background-size: cover;
  background-position: absolute;
  background-position: bottom left;
}

.contactsmall-linkcontainer {
  position: absolute;
  top: 20rem;
}

.contactsmall-link {
  margin-left: 1rem;
  display: block;
  z-index: 10;
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: 5rem;
  text-decoration: underline;
  &:hover {
    color: rgb(221, 10, 10);
  }
}

.contact-container {
  min-height: 100vh !important;
  background-image: linear-gradient(
      180deg,
      rgba(221, 247, 251, 0) 0%,
      rgba(0, 0, 0, 0.18) 50%,
      rgba(0, 0, 0, 0.4) 80%
    ),
    url('../../img/contactphone.jpg');
  background-size: cover;
  background-position: bottom left;
  color: #fff;
  top: 0;
  width: 100%;
  z-index: 1;
  position: absolute;
}

.contact-container2 {
  height: 85vh;
  background-image: linear-gradient(
    180deg,
    rgb(199, 199, 199) 0%,
    rgb(161, 161, 161) 50%,
    rgb(83, 83, 83) 90%
  );
  background-size: cover;
  background-position: absolute;
  color: #fff;
  top: 0;
  width: 100%;
  z-index: 2;
}

.contact-listcontainer {
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}

.contact-list {
  position: absolute;
  right: 1rem;
  color: white;
  // top: 40%;
  bottom: 10%;
  @media screen and (max-width: $break-large) {
    bottom: 0%;
  }
}

.contact-listitem {
  text-decoration: none;
  list-style: none;
  text-align: right;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  @media screen and (max-width: 925px) {
    font-size: 2.8rem;
    letter-spacing: 0.2rem;
  }
  // transition: text-decoration 0.4s;

  // &:before {
  //   content: "";
  // position: absolute;
  // width: 100%;
  // height: 2px;
  // bottom: 0;
  // left: 0;
  // background-color: #000;
  // visibility: hidden;
  // -webkit-transform: scaleX(0);
  // transform: scaleX(0);
  // -webkit-transition: all 0.3s ease-in-out 0s;
  // transition: all 0.3s ease-in-out 0s;
  // }
  // &:hover {
  //   &:before {
  //     visibility: visible;
  //     -webkit-transform: scaleX(1);
  //     transform: scaleX(1);
  //   }
  // }
}

.contact-title {
  font-size: 8rem;
  letter-spacing: 1.4rem;
  margin-right: -1.4rem;
  font-weight: 500;
  margin-top: 14.5rem;
  cursor: default;
  @media screen and (max-width: $break-large) {
    display: none;
  }
}

.individualcontactname {
  font-size: 2.8rem;
}

.individualcontact {
  width: 35vw;
  letter-spacing: 0.7rem;

  margin: 1rem;
  &:hover {
    cursor: pointer;
    text-shadow: 1rem 1rem 1rem #222;
  }
}

.individualcontactunderline {
  height: 0.2rem;
}
