$break-large: 1400px;
$break-medium: 1200px;
$break-med2: 1146px;
$break-small: 1041px;
$break-xs: 910px;
$break-xxs: 650px;

.home-container {
  min-height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(221, 247, 251, 0) 0%,
      rgba(0, 0, 0, 0.18) 50%,
      rgba(0, 0, 0, 0.4) 80%
    ),
    url('../../img/homebackgroundbw.jpg');
  background-size: cover;
  background-position: absolute;
  color: #fff;
  overflow-x: hidden;
  // clip-path: polygon(0 0vh, 100% 0, 100% 80vh, 0 100%);
  // @media screen and (max-width: $break-xs) {
  //   clip-path: none;
  //   // min-height: 100vh;
  // }
}

.home-innercontainer {
  // min-width: 50rem;
  display: flex;
}

.home-infocontainer {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 50rem;
}

.home-profilephotocontainer {
  height: 26rem;
  width: 26rem;
  border-radius: 999px;
  background: black;
  color: white;
  text-align: center;
  margin-top: 14rem;
  margin-left: 12rem;
  margin-bottom: 5rem;

  .home-profilephototext {
    opacity: 0;
    transition: opacity 1.1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  &:hover {
    .home-profilephototext {
      opacity: 1;
    }
  }
  @media screen and(max-width: $break-xs) {
    display: none;
  }
}

.home-profilephoto {
  border-radius: 999px;
  border: 1.3rem solid rgb(236, 236, 236);
  height: 26rem;
  width: 26rem;

  &:hover {
    cursor: pointer;
  }
}

.home-profilephototext {
  top: 25rem;
  position: absolute;
  font-size: 3.2rem;
  letter-spacing: 0.8rem;
  left: 15.2rem;
  color: rgb(255, 255, 255);
}

.home-name,
.home-email {
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  @media screen and(max-width: $break-xs) {
    margin-top: 40rem;
  }
  @media screen and(max-width: $break-xxs) {
    display: none;
  }
}

.home-name {
  font-size: 6.2rem;
  width: 60rem;
  font-weight: 400;
  cursor: default;
  text-align: center;
  margin-right: -0.7rem;
  letter-spacing: 0.7rem;
  @media screen and (max-width: $break-large) {
    font-size: 5rem;
  }
  @media screen and (max-width: $break-medium) {
    font-size: 4rem;
  }
  // @media screen and (max-width: $break-small) {
  //   font-size: 4rem;
  // }
}

.home-cardcontainer-container {
  // position: relative;
  // background: blue;
  // min-height: 100vh !important;
  min-width: 100vw;
  min-height: 80vh;
  overflow: hidden;
  @media screen and (max-width: $break-xxs) {
    position: inherit;
    margin-top: 10rem;
    bottom: 6rem;
  }
}

.home-email {
  margin-top: -0.6rem;
  font-size: 2.2rem;
  width: 35rem;
  letter-spacing: 0.3rem;
  font-weight: 400;
  @media screen and (max-width: $break-medium) {
    font-size: 1.9rem;
  }
}

.homecontact-container {
  height: 95vh;
  background-image: linear-gradient(
      180deg,
      rgba(221, 247, 251, 0) 0%,
      rgba(0, 0, 0, 0.18) 50%,
      rgba(0, 0, 0, 0.4) 80%
    ),
    url('../../img/homebackgroundbw.jpg');
  background-size: cover;
  background-position: absolute;
  clip-path: polygon(0 23vh, 100% 0, 100% 72vh, 0 100%);
  color: #fff;
  z-index: 1;
  @media screen and (max-width: $break-xxs) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }
